body {
  background-color: rgb(190, 255, 177);
}

#convertAmount {
  display: none;
}

#usdAmount {
  display: none;
}

#mainBody {
  display: none;
}

#useableIso {
  display: none;
}

#pageTitle {
  text-align:center;
}

#centerButton {
  text-align: center;
}