body {
  background-color: rgb(190, 255, 177);
}

#convert-amount {
  display: none;
}

#usd-amount {
  display: none;
}

#main-body {
  display: none;
}

#useable-iso {
  display: none;
}


#center-button, #page-title-center {
  text-align: center;
}